## 4 Data Structures in Python

1. List
2. Sets
3. Tuple
4. Dict

# 1. List

* 1D
* Heterogenous
* Mutable
* Indexable and Sliceable
* Allows Duplicate Values

In [1]:
empty_cart_1 = [] #Initializing list
empty_cart_1

[]

In [2]:
type(empty_cart_1)

list

In [8]:
items_to_buy = ['Oats','Milk','Almonds','Cashews','Banana','Oats']
items_to_buy

['Oats', 'Milk', 'Almonds', 'Cashews', 'Banana', 'Oats']

In [9]:
items_to_buy[3]

'Cashews'

In [10]:
items_to_buy[:-2]

['Oats', 'Milk', 'Almonds', 'Cashews']

In [11]:
items_to_buy[3] = 'Spinach' #Mutable

In [12]:
items_to_buy

['Oats', 'Milk', 'Almonds', 'Spinach', 'Banana', 'Oats']

In [27]:
items_to_buy.insert(2,'Potato')

In [29]:
items_to_buy

['Oats', 'Milk', 'Potato', 'Almonds', 'Spinach', 'Banana', 'Oats']

In [30]:
empty_data = []

for i in range(1,11):
    empty_data.append(i)

In [31]:
empty_data

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2. Sets

* 1D
* Heteregenous
* Mutable
* Doesn't allow duplicate values
* Not Indexable and Sliceable

In [13]:
empty_cart_2 = set()
empty_cart_2

set()

In [14]:
type(empty_cart_2)

set

In [53]:
items_to_buy_2 = {'Oats','Milk','Almonds','Cashews','Banana','Oats',5,4,7,1}
items_to_buy_2

{1, 4, 5, 7, 'Almonds', 'Banana', 'Cashews', 'Milk', 'Oats'}

In [51]:
type(items_to_buy_2)

set

In [19]:
items_to_buy_2[-2]

TypeError: 'set' object is not subscriptable

In [20]:
items_to_buy_2[3]

TypeError: 'set' object is not subscriptable

In [21]:
items_to_buy_2[:-2]

TypeError: 'set' object is not subscriptable

In [22]:
items_to_buy_2[3] = 'Tomato'

TypeError: 'set' object does not support item assignment

In [23]:
items_to_buy_2.add('Beans')

In [24]:
items_to_buy_2

{'Almonds', 'Banana', 'Beans', 'Cashews', 'Milk', 'Oats'}

In [25]:
items_to_buy_2.clear()

In [26]:
items_to_buy_2

set()

## =======================================================================

## DAILY TASK - 3 Come up with 1 example for all data structure related functions.

## DAILY TASK - 4 Explore List Comprehension

## =======================================================================

# 3. Tuple

* 1D
* Heteregenous
* Immutable
* Indexable and Sliceable
* Allows Duplicate values

In [32]:
empty_cart_3 = ()
empty_cart_3

()

In [33]:
type(empty_cart_3)

tuple

In [49]:
items_to_buy_3 = ('Oats','Milk','Almonds','Cashews','Banana','Oats')
items_to_buy_3

('Oats', 'Milk', 'Almonds', 'Cashews', 'Banana', 'Oats')

In [41]:
type(items_to_buy_3)

tuple

In [42]:
len(items_to_buy_3)

6

In [43]:
items_to_buy_3[1]

'Milk'

In [44]:
items_to_buy_3[1:3]

('Milk', 'Almonds')

In [45]:
items_to_buy_3[0] = 'Apple'

TypeError: 'tuple' object does not support item assignment

In [47]:
items_to_buy_3.count('Oats')

2

# 4. Dict

It is a **KEY-VALUE** pair.

In [54]:
empty_cart_4 = {}
empty_cart_4

{}

In [55]:
type(empty_cart_4)

dict

In [60]:
items_to_buy_4 = {'Potato':2,
                  'Oats':1,
                  'Apple':2}
items_to_buy_4

{'Potato': 2, 'Oats': 1, 'Apple': 2}

In [57]:
items_to_buy_4.clear()

In [61]:
items_to_buy_4

{'Potato': 2, 'Oats': 1, 'Apple': 2}

In [62]:
items_to_buy_4.keys()

dict_keys(['Potato', 'Oats', 'Apple'])

In [63]:
items_to_buy_4.values()

dict_values([2, 1, 2])

In [81]:
learner_details = {'Name':['Sharan','Sandeep','Chandana','Aishwarya'],
                   'Age' :[23,24,25,22],
                   'Place':['Bangalore','Kerala','Chennai','Bangalore']}
learner_details

{'Name': ['Sharan', 'Sandeep', 'Chandana', 'Aishwarya'],
 'Age': [23, 24, 25, 22],
 'Place': ['Bangalore', 'Kerala', 'Chennai', 'Bangalore']}

In [82]:
import pandas as pd

In [83]:
pd.DataFrame(data=learner_details)

        Name  Age      Place
0     Sharan   23  Bangalore
1    Sandeep   24     Kerala
2   Chandana   25    Chennai
3  Aishwarya   22  Bangalore

# THE END!!!